<section id="theCommunity">
	<div class="container">
		<figure>
			<img src="../../assets/img/home/home-logo.svg">
		</figure>
		<div class="copy">
			<h2>Welcome to <span>Pinehurst</span></h2>
			<p>Where majestic forests and clear, spring-fed lakes offer a deep connection to nature, a beautiful family community invites you to live the life you’ve always dreamed of. </p>

			<p>An intimate enclave of superbly designed 30’ and 36’ Detached Homes and traditional Townhomes located near the scenic Watts Pond, Pinehurst offers the perfect setting for families who expect more from life. Small winding streets and cul-de-sacs give it the ambiance of a close-knit, friendly community where everyone knows each other by name. </p>

			<p>A place of unspoiled natural beauty, yet rich in vibrant urban amenities, parks, trails, arenas, playgrounds, schools, shops and more. Close to everything, far from ordinary. This is Pinehurst, a master-planned community in the charming town of Paris. Welcome home to nature.</p>
		</div>
	</div>
</section>