@import '../../../../styles.scss';

#builder {
	figure {
		width: 100%;
		background: #050605;
		text-align: center;
		height: 340px;
		overflow: hidden;
		img {
			margin: 0 auto;
			max-height: 100%;
		}
	}
	.container {
		max-width: 1230px;
		margin: 0 auto;
		.headline {
			display: flex;
			margin-top: 30px;
			justify-content: space-between;
			h2 {
				font-size: 78px;
				font-family: $serif;
				color: $grey;
				text-transform: uppercase;
				span {
					color: $green;
				}
			}
		}
		.copy {
			p.leadin {
				color: $green;
				border-top: 1px solid $grey;
				border-bottom: 1px solid $grey;
				padding: 25px 0;
				margin: 25px 0;
				font-size: 24px;
				line-height: 1.3;
				font-family: $sans-serif;
			}
			p {
				color: $grey;
				font-size: 17px;
				line-height: 1.25;
				font-weight: 100;
				margin-bottom: 20px;
			}
		}
	}
}