<nav>
	<ul>
		<li>
			<a routerLink="/the-community" routerLinkActive="active-link">
				<div class="wrap">
					<img src="../assets/img/nav/the-community.svg" alt="The Community">
					<h2>The Community</h2>
				</div>
			</a>
		</li>
		<li>
			<a routerLink="/home-designs" routerLinkActive="active-link">
				<div class="wrap">
					<img src="../assets/img/nav/home-designs.svg" alt="Home Designs">
					<h2>Home Designs</h2>
				</div>
			</a>
		</li>
		<li>
			<a routerLink="/gallery" routerLinkActive="active-link">
				<div class="wrap">
					<img src="../assets/img/nav/gallery.svg" alt="Gallery">
					<h2>Gallery</h2>
				</div>
			</a>
		</li>
		<li>
			<a routerLink="/the-builder" routerLinkActive="active-link">
				<div class="wrap">
					<img src="../assets/img/nav/the-builder.svg" alt="The Builder">
					<h2>The Builder</h2>
				</div>
			</a>
		</li>
		<li class="register">
			<a routerLink="/register" routerLinkActive="active-link">
				<div class="wrap">
					<img src="../assets/img/nav/register.svg" alt="Register">
					<h2>Register</h2>
				</div>
			</a>
		</li>
	</ul>
</nav>
<div class="home" routerLink="/">
	<span>x</span>
</div>